
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.body{
  font-family: 'Montseratt', sans-serif;
  font-size: 80;
  text-align: center;
  background-color: #0d8164;
  background-size: cover;
  background-position: bottom;
}
.p{
  color:rgb(0, 0, 0);
  font-size: 200;
  font-display: flex;
}
.app{
  content:'';
  z-index: -1;
  position: absolute;
  top:0;
  left: 0;
  text-align: center;
  font-family: 'Montseratt', sans-serif;
  font: size 80px;;
  width: 100%;
  height: 100vh;
  background-image: url('clouds.png');
  background-color: rgb(66, 115, 134);
  }
 
.search-bar { 
      padding: 35px;
      box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.1);
      border: 10px;
      border-radius: 25px;
      height: 40px;
      font-size: 40px;
      border-color: rgb(101, 131, 189);
      display: center;
    }
    


